<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <!-- The '-' will display whatever HTML is shown in the body -->
                <p><%- blog.body %></p>
            </div>
            <a href="/blogs/<%= blog._id %>/edit" class="ui inverted green button">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteBtn">
                <button class="ui inverted red button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>